{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<div class="header">
  <!-- Logo on the left -->
  <div class="header-left">
    <a href="https://just.edu.bd/" target="_blank" rel="noopener">
      <img
        src="{% static 'image/logo.png' %}"
        alt="Physiotherapy Center Logo"
        class="logo"
      />
    </a>
    <a
      href="https://just.edu.bd/"
      target="_blank"
      rel="noopener"
      class="logo-text"
    >
      Jashore University of Science and Technology
    </a>
  </div>

  <!-- Navigation -->
  <nav class="nav">
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'services' %}">Services</a></li>
      <li><a href="{% url 'appointment_page' %}">Appointment</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>

      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}">Welcome, {{ user.username }}</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
